.idea
venv
anims
Lib

python.traceback.txt
config.json

python3.dll
python38.dll

*.exp
*.lib
*.zip
*.cpp
*.obj

__pycache__
core/__pycache__
core/anm/__pycache__
core/base/__pycache__
core/base/utils/__pycache__
core/brawlhalla/__pycache__
core/ffdec/__pycache__
core/utils/__pycache__

core/anm/ANMConverter.pyx
